body{
 
  background-color: whitesmoke;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
    width: 1000px;

}

.navWrapper {
  display: flex;
  justify-content: space-evenly
}

ul.menu {
    font-size: 32px;
    list-style-type: none;
    padding: 100;
    margin: 0;
}

ul.menu li {
    display: inline;
    margin-right: 20px;

}

ul.menu li a {
    text-decoration: none;
    color:black;

  }    
  /* mouse over link */
  ul.menu li a:hover {
    color: grey;
  }
  
  /* selected link */
  ul.menu li a:active {
    color: blue;
  }
  .container {
    width: 50%;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.kasse {
  background-color: rgba(213, 172, 78, 0.5);
  color: black;
  border: 2px solid black;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  margin-right: 50px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  font-family: sans-serif;
  width: auto;
}
